@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #201a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-body: var(--font-inter);
}

html {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 150ms;
  color-scheme: light;
}

html.dark {
  background: var(--foreground);
  color: var(--background);
  color-scheme: dark;
}

@supports (corner-shape: squircle) {
  .squircle {
    --rad: 30px;
    corner-shape: squircle;
    border-radius: var(--rad);
  }
}

.shake {
  animation: shake 0.3s 0.6s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  16.67%,
  50%,
  83.33% {
    transform: translateX(-2px);
  }
  33.33%,
  66.67% {
    transform: translateX(2px);
  }
}
